* {
    margin: 0%
}

header {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.banner {
    background-image: url(banner.jpg);
    background-size: cover;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner h1 {
    color: white
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;

}


.vertical-line {
    width: 80px;
    height: 0px;
    border: 1px solid #000000;
    transform: rotate(90deg);
    margin-top: 50px;
    margin-bottom: 50px;
}

.button {
    margin-bottom: 50px;
    max-width: 180px;
    margin-top:10px;
    padding: 5px;
    border-radius: 48px;
    background-color: aqua;
    justify-content: center;
    align-items: center;
}

.bfstphoto {
    width: 535px;
    height: 354px;


}

.breakfast {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;

}

.bfsttext {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    min-width: 500px;
}

.dinner {
    margin-top: 100px;
    display: flex;


}

.dinnertext {
    margin-top: 100px;
    max-width: 500px;
}

.drinks {

    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 300px;

}

.drinkstext {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    min-width: 500px;

}

.footerimg {
    background-image: url(mergewrap.jpg);
    min-height: 250px;
    background-repeat: repeat-x;
    background-color: #000000;


}

.belowtext {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    

}

.awards {
    background-color: #000000;
    display: flex;
    color: white;
    justify-items: center;
    align-items: center;
    padding:50px;
}

.awards>img {
    min-width: 170px;
    min-height: 170px;
    max-height: 170px;

}

.awardstext {
    display: flex;
    flex-direction: column;
    height: 200px;
    justify-content: right;
    align-items: right;
    margin-left: 15%;
}

.awardstext a {
    display:flex;
    max-width: 180px;
    margin-top:10px;
    padding: 5px;
    border-radius: 48px;
    background-color: aqua;
    color:black;
    text-decoration: none;
    justify-content: center;
}
.copyright {
    font-size: smaller;
    margin-top: 20px;
}
.happyrestobelow{
    font-size: 25px;
    font-family: cursive;
}

.buttonbfast {
    margin-bottom: 50px;
    max-width: 180px;
    margin-top:10px;
    padding: 5px;
    border-radius: 48px;
    background-color: aqua;
    margin-left: 30%;
}